* {
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Establece la altura del HTML y BODY al 100% */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Organiza los elementos en una columna */
    background-color: #e1d6b6; /* Tu color de fondo */
    font-family: Arial, sans-serif; /* Tu fuente */
}


/* Estilo de Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8ebe7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
}

.logo-container {
    padding-left: 2rem;
}

.logo-container img {
    height: 6.25rem;
}

.nav-menu .category-list {
    list-style: none;
    display: flex;
    gap: 1.25rem;
    margin: 0;
    padding: 0;
}

.nav-menu .category-list li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem; /* Aumentado para mayor legibilidad */
    padding: 0.3125rem 0.625rem;
}

.nav-menu .category-list li a:hover {
    color: #007bff;
}

.user-cart {
    display: flex;
    gap: 0.625rem;
    align-items: center;
}

.user-cart img {
    height: 3.75rem;
    cursor: pointer;
    padding-right: 2rem;
}

.user-panel-container {
    position: relative;
    cursor: pointer;
}

.user-dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 1000;
    min-width: 9.375rem;
}

.user-dropdown-menu a {
    display: block;
    padding: 0.625rem 1.25rem;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
}

.user-dropdown-menu a:hover {
    background-color: #f5f5f5;
}

.category-container {
    margin-right: auto;
    padding-left: 17rem;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#categoryButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 24px; /* Botón más grande */
    border-radius: 4px;
    font-size: 1.2rem; /* Texto más grande */
    cursor: pointer;
}

.category-dropdown-menu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    white-space: nowrap;
}

.category-dropdown-menu a {
    display: inline-block;
    padding: 12px 24px;
    text-decoration: none;
    color: white;
    background-color: #2f65ff;
    font-size: 1.2rem;
    border: 1px solid #ddd;
    margin-left: 45px;
}

.category-dropdown-menu a:hover {
    background-color: #000000;
}

.cart-container {
    position: relative;
}

.cart-badge {
    position: absolute;
    top: -5px;
    right: 29px;
    background-color: red;
    color: white;
    border-radius: 55%;
    padding: 2px;
    font-size: 0.8rem;
    min-width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Estilo de Header */


/* Estilo de Footer */
.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer .footer-section {
    flex-basis: 30%;
}

.footer h3 {
    margin-top: 0;
}

.footer a {
    display: inline-block;
    margin-right: 10px;
}

.footer a img {
    height: 40px;
}

/* Estilo de Footer */

/* Estilo de index.php */

.popular-items-carousel {
    text-align: center;
    margin: 20px 0;
    flex: 1;
}

.carousel {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.carousel-item {
    min-width: 100%; /* Asegura que cada item ocupe toda la anchura del contenedor del carrusel */
    text-align: center;
}

.carousel-item img {
    width: auto; /* O un tamaño específico si es necesario */
    max-height: 500px; /* Ajusta según tus necesidades */
}

.carousel-control {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
.details-button {
    padding: 10px 20px;
    background-color: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; /* Espacio entre el título y el botón */
    text-align: center;
    text-decoration: none;
    display: inline-block; /* Asegúrate de que se comporta como un botón */
    font-size: 1rem;
}

.details-button:hover {
    background-color: #0056b3; /* Color de fondo del botón al pasar el cursor */
}
.product-details {
    display: none; /* Oculto por defecto */
    background-color: #9FB7C9; /* Fondo claro */
    padding: 10px;
    margin: 10px auto; /* Centra el bloque */
    text-align: center; /* Texto centrado */
    border-radius: 7px;
    width: 20%; /* Limita el ancho, ajústalo según tus necesidades */

}

.testimonials-section {
    text-align: center;
    padding: 40px;
    background-color: #f8f8f8; /* Color de fondo suave */
    color: #333; /* Color de texto oscuro para contraste */
}

.testimonials-section h2 {
    margin-bottom: 30px;
    font-size: 2rem;
}

.testimonial {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd; /* Borde sutil */
    background-color: white; /* Fondo blanco para destacar del fondo de la sección */
    display: inline-block; /* Centra los testimonios en la sección */
    max-width: 600px; /* Limita el ancho para mejorar la legibilidad */
}

.testimonial blockquote {
    font-style: italic; /* Estilo de cita */
    color: #555; /* Color de texto más suave */
}

.client-name {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

/* Estilo de index.php */