* {
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Establece la altura del HTML y BODY al 100% */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Organiza los elementos en una columna */
    background-color: #ffffff; /* Tu color de fondo */
    font-family: "Work Sans"; /* Tu fuente */
}


/* Estilo de Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4E84A6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
}

.logo-container {
    padding-left: 2rem;
}

.logo-container img {
    height: 6.25rem;
}

.nav-menu .category-list {
    list-style: none;
    display: flex;
    gap: 1.25rem;
    margin: 0;
    padding: 0;
}

.nav-menu .category-list li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem; /* Aumentado para mayor legibilidad */
    padding: 0.3125rem 0.625rem;
}

.nav-menu .category-list li a:hover {
    color: #007bff;
}

.user-cart {
    display: flex;
    gap: 0.625rem;
    align-items: center;
    justify-content: center;
}

.user-cart img {
    height: 3.75rem;
    cursor: pointer;
    padding-right: 2rem;
}

.user-panel-container {
    position: relative;
    cursor: pointer;
}

.user-dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 1000;
    min-width: 9.375rem;
}

.user-dropdown-menu a {
    display: block;
    padding: 0.625rem 1.25rem;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
}

.user-dropdown-menu a:hover {
    background-color: #f5f5f5;
}

.category-container{
    max-width: 900px;
    margin: auto;
    background-color: #4E84A6;
    font-size: 20px;
    margin-top: 50px;
}
.menu-horizontal{
    list-style:none;
    display: flex;
    justify-content: space-around;
}
.menu-horizontal > li >a{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}
.menu-horizontal > li:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
.menu-vertical{
    position: absolute;
    color: #ffffff;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(78, 132, 166, 0.9);
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical li:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
.menu-vertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}


.cart-container {
    position: relative;
}

.cart-badge {
    position: absolute;
    top: -5px;
    right: 29px;
    background-color: red;
    color: white;
    border-radius: 55%;
    padding: 2px;
    font-size: 0.8rem;
    min-width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#initButton{
    background-color: #007bff;
    color: white;
    border: none;
    margin-right: 50px;
    margin-left: -50px;
    padding: 12px 24px; /* Botón más grande */
    border-radius: 4px;
    font-size: 1.2rem; /* Texto más grande */
    cursor: pointer;
}
#nombreUsuario{
    margin: 0;
}

/* Estilo de Header */


/* Estilo de Footer */
.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer .footer-section {
    flex-basis: 30%;
}

.footer h3 {
    margin-top: 0;
}

.footer a {
    display: inline-block;
    margin-right: 10px;
}

.footer a img {
    height: 40px;
}

/* Estilo de Footer */

/* Estilo de index.php */

.popular-items-carousel {
    text-align: center;
    margin: 20px 0;
    flex: 1;
}

.carousel {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.carousel-item {
    min-width: 100%; /* Asegura que cada item ocupe toda la anchura del contenedor del carrusel */
    text-align: center;
}

.carousel-item img {
    width: auto; /* O un tamaño específico si es necesario */
    max-height: 500px; /* Ajusta según tus necesidades */
    border-radius: 20px;
}

.carousel-control {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
.details-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
}

.details-button:hover {
    background-color: #0056b3;
}
.product-details {
    display: none;
    background-color: #9FB7C9;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    border-radius: 7px;
    width: 20%;

}

.testimonials-section {
    text-align: center;
    padding: 40px;
    background-color: #f8f8f8;
    color: #333;
}

.testimonials-section h2 {
    margin-bottom: 30px;
    font-size: 2rem;
}

.testimonial {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: white;
    display: inline-block;
    max-width: 600px;
}

.testimonial blockquote {
    font-style: italic;
    color: #555;
}

.client-name {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

/* Estilo de index.php */

/* Estilo de login.php */
.login-container {
    flex: 1;
    max-width: 400px;
    margin: 50px auto;
    margin-bottom: 308px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.btn-registro {
    display: inline-block;
    margin-top: 15px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-registro:hover {
    background-color: #45a049;
}

/* Estilo de login.php */

/* Estilos para el registro */
.registro-container {
    max-width: 400px;
    margin: 50px auto;
    margin-bottom: 233px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.registro-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos para el registro */

/* Estilos para ver perfil */

.perfil-container {
     flex: 1;
     width: 100%;
     max-width: 600px;
     margin: auto;
     padding: 20px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     display: flex; /* Usa Flexbox */
     flex-direction: column; /* Organiza los elementos en una columna */

 }

.perfil-item {
    margin-bottom: 5px;
    margin-top: 55px;
    background-color: #f2f2f2; /* Fondo de cada campo */
    padding: 10px;
    border-radius: 5px; /* Bordes redondeados */
    display: flex; /* Usa Flexbox */
    align-items: center; /* Centra verticalmente */
}

.perfil-item label {
    font-weight: bold;
    margin-right: 10px;
    white-space: nowrap; /* Evita que el texto se envuelva */
    flex-shrink: 0; /* Evita que la etiqueta se reduzca */
}

.perfil-item input[type="text"], .perfil-item input[type="email"] {
    background-color: #f2f2f2; /* Fondo */
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px;
    margin-right: 10px;
    flex-grow: 1; /* Asegura que el input ocupe el espacio disponible */
}

.perfil-item input[readonly] {
    background-color: #e6e6e6; /* Fondo para campos de solo lectura */
}

#botonEditar {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50; /* Color del botón */
    color: white;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    margin-top: 20px; /* Espacio antes del botón */
}



/* Estilos para ver perfil */